<%- include('partials/header') %>

<section class="gradient-background">
    <h1> Welcome Name to Kristine Birthday</h1>

</section>

<div class="container">
    <p class="lead">Psalm 118:24<br>“This is the day that the Lord has made; let us rejoice and be glad in it.”</p>
</div>





<%- include('partials/footer') %>