.modal {
    display:;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    background-color: blue;
}

.modal-content {
  justify-content: center;
  background-color: #fefefe;
  margin: 10px;
  padding: 20px;
  border: 1px solid #888;
  width: 442px;
  height: 600px;
}